/* --------------------
    START button
-------------------- */
.custom {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	width: 186px;
	padding: 16px 0 13px;
	border: none;
	background: var(--white);
	border-radius: 8px;
	cursor: pointer;
	transition: .4s;
	&:enabled {
		border: 2px solid var(--lightgreen);
		color: var(--lightgreen);
	}
	&:hover {
		border: 2px solid var(--green);
		color: var(--green);
	}
	&:focus {
		border: 4px solid var(--green);
		color: var(--green);
	}
	&:active {
		border: 2px solid var(--lightgreen);
		color: var(--lightgreen);
	}
	&.green {
		background-color: var(--lightgreen);
		color: var(--white);
		&:enabled {
			background-color: var(--lightgreen);
		}
		&:hover {
			background-color: var(--green);
		}
		&:focus {
			border: 2px solid var(--black);
			background-color: var(--lightgreen);
		}
		&:active {
			border: 2px solid var(--lightgreen);
			background-color: var(--lightgreen);
		}
		&:disabled {
			opacity: 0.5;
		}
	}
	&.red {
		background-color: var(--white);
		color: var(--red);
		&:enabled {
			border: 2px solid var(--red);
			color: var(--red);
		}
		&:hover {
			border: 2px solid var(--darkred);
			color: var(--darkred);
		}
		&:focus {
			border: 4px solid var(--darkred);
			color: var(--darkred);
		}
		&:active {
			border: 2px solid var(--red);
			color: var(--red);
		}
	}
}
/* --------------------
    END button
-------------------- */

/* ------------------------
    START link "read-more"
--------------------------- */
.read-more {
	display: flex;
	svg {
		margin-left: 4px;
		transition: .2s;
	}
	&:enabled {
		p {
			color: var(--lightgreen);
		}
		svg path {
			fill: var(--lightgreen);
		}
	}
	&:hover {
		p {
			color: var(--green);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--green);
			}
		}
	}
	&:focus {
		text-decoration: underline var(--lightgreen);
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--green);
			}
		}
	}
	&:active {
		p {
			color: var(--lightgreen);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--lightgreen);
			}
		}
	}
}
/* ------------------------
    END link "read-more"
--------------------------- */

/* ------------------------
    START link "next-review"
--------------------------- */
.next-review {
	display: flex;
	align-items: center;
	svg {
		margin-left: 4px;
		transition: .2s;
	}
	&:enabled {
		p {
			color: var(--red);
		}
		svg path {
			fill: var(--red);
		}
	}
	&:hover {
		p {
			color: var(--darkred);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--darkred);
			}
		}
	}
	&:focus {
		text-decoration: underline var(--red);
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--darkred);
			}
		}
	}
	&:active {
		p {
			color: var(--red);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--red);
			}
		}
	}
}
/* ------------------------
    END link "next-review"
--------------------------- */

/* --------------------
    START input
-------------------- */
input[type=range] {
  width: 100%;
  margin: 12.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
	color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #fafafa;
  border: 0;
  border-radius: 2.5px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -12.5px;
  width: 30px;
  height: 30px;
  background: #fafafa;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  background: #fafafa;
  border: 0;
  border-radius: 2.5px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #fafafa;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #fafafa;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]::-ms-track {
  background: #fafafa;
  border-width: 12.5px 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower{
	background: #D5D4D4;
}
input[type=range]::-ms-fill-upper{
	background: #FAFAFA;
}
input[type=range]:focus::-ms-fill-lower {
	background: #D5D4D4;
}
input[type=range]:focus::-ms-fill-upper {
	background: #FAFAFA;
}
/* --------------------
    END input
-------------------- */