@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}
@keyframes findIn {
	0% {
		opacity: 0;
	}
	100% {
    opacity: 1;
	}
}
@keyframes findOut {
	0% {
		opacity: 1;
	}
	100% {
    opacity: 0;
	}
}
@keyframes heightOut {
	100% {
    visibility: hidden;
    height: 0;
	}
}
.animate {
	&__animated {
		animation-duration: 1s;
		animation-fill-mode: both;
		opacity: 0;
	}
	&__fadeInUp {
		animation-name: fadeInUp;
	}
	&__fadeInRight {
		animation-name: fadeInRight;
	}
	&__findIn {
		animation-name: findIn;
	}
	&__heightOut {
		animation-name: heightOut;
		opacity: 1;
	}
}