@import '_fonts';

:root {
	--white: #FAFAFA;
	--black: #0E0E11;
	--blue: #1D3C86;
	--lightgreen: #41A280;
	--red: #DC5750;
	--darkred: rgb(185, 50, 50);
	--yelow: #F4DE82;
	--green: #30785D;
	--whitish: #F4EFE5;
	--grayish: #D5D4D4;
	--gray: #797B87;
}

*{
	font-family: 'PP Mori';
}

html, body {
	font-size: 12px;
	line-height: 140%;
	background: var(--whitish);
	color: var(--black);
	margin: 0;
	padding: 0;
}

body {
	overflow-y: auto;
}

section {
	width: 100%;
}

img, svg{
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 576px) {
    width: 540px;
  }
  @media(min-width:768px) {
    width: 710px;
  }
  @media(min-width:992px) {
    width: 920px;
  }
  @media(min-width:1200px) {
    width: 1100px;
  }
  @media(min-width:1440px) {
    width: 1367px;
  }
}

h1, h2, h3, p, a {
	margin: 0;
	&.small {
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
	}
}

h1 {
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
	@media (min-width: 1440px) {
		font-size: 56px;
		line-height: 130%;
	}
}

h2, span {
	font-weight: 400;
	font-size: 20px;
	line-height: 130%;
	
	@media (min-width: 992px) {
		font-weight: 600;
		font-size: 32px;
		line-height: 130%;
	}
	&.regular {
		font-weight: 400;
		font-size: 32px;
		line-height: 130%;
	}
}

h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	&.regular {
		font-weight: 400;
		font-size: 20px;
		line-height: 130%;
	}
}

p, a, li {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	@media (min-width: 992px) {
		font-size: 20px;
		line-height: 140%;
	}
}

.big {
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
}

.medium {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--black);
	transition: .3s;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

/* --------------------
    START button
-------------------- */
.custom {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	width: 186px;
	padding: 16px 0 13px;
	border: none;
	background: var(--white);
	border-radius: 8px;
	cursor: pointer;
	transition: .4s;
	&:enabled {
		border: 2px solid var(--lightgreen);
		color: var(--lightgreen);
	}
	&:hover {
		border: 2px solid var(--green);
		color: var(--green);
	}
	&:focus {
		border: 4px solid var(--green);
		color: var(--green);
	}
	&:active {
		border: 2px solid var(--lightgreen);
		color: var(--lightgreen);
	}
	&.green {
		background-color: var(--lightgreen);
		color: var(--white);
		&:enabled {
			background-color: var(--lightgreen);
		}
		&:hover {
			background-color: var(--green);
		}
		&:focus {
			border: 2px solid var(--black);
			background-color: var(--lightgreen);
		}
		&:active {
			border: 2px solid var(--lightgreen);
			background-color: var(--lightgreen);
		}
		&:disabled {
			opacity: 0.5;
		}
	}
	&.red {
		background-color: var(--white);
		color: var(--red);
		&:enabled {
			border: 2px solid var(--red);
			color: var(--red);
		}
		&:hover {
			border: 2px solid var(--darkred);
			color: var(--darkred);
		}
		&:focus {
			border: 4px solid var(--darkred);
			color: var(--darkred);
		}
		&:active {
			border: 2px solid var(--red);
			color: var(--red);
		}
	}
}
/* --------------------
    END button
-------------------- */

/* ------------------------
    START link "read-more"
--------------------------- */
.read-more {
	display: flex;
	svg {
		margin-left: 4px;
		transition: .2s;
	}
	&:enabled {
		p {
			color: var(--lightgreen);
		}
		svg path {
			fill: var(--lightgreen);
		}
	}
	&:hover {
		p {
			color: var(--green);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--green);
			}
		}
	}
	&:focus {
		text-decoration: underline var(--lightgreen);
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--green);
			}
		}
	}
	&:active {
		p {
			color: var(--lightgreen);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--lightgreen);
			}
		}
	}
}
/* ------------------------
    END link "read-more"
--------------------------- */

/* ------------------------
    START link "next-review"
--------------------------- */
.next-review {
	display: flex;
	svg {
		margin-left: 4px;
		transition: .2s;
	}
	&:enabled {
		p {
			color: var(--red);
		}
		svg path {
			fill: var(--red);
		}
	}
	&:hover {
		p {
			color: var(--darkred);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--darkred);
			}
		}
	}
	&:focus {
		text-decoration: underline var(--red);
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--darkred);
			}
		}
	}
	&:active {
		p {
			color: var(--red);
		}
		svg {
			transform: rotate(45deg);
			path {
				fill: var(--red);
			}
		}
	}
}
/* ------------------------
    END link "next-review"
--------------------------- */

/* --------------------
    START input
-------------------- */
input[type=range] {
  width: 100%;
  margin: 12.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
	color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #fafafa;
  border: 0;
  border-radius: 2.5px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -12.5px;
  width: 30px;
  height: 30px;
  background: #fafafa;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  background: #fafafa;
  border: 0;
  border-radius: 2.5px;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #fafafa;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #fafafa;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]::-ms-track {
  background: #fafafa;
  border-width: 12.5px 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower{
	background: #D5D4D4;
}
input[type=range]::-ms-fill-upper{
	background: #FAFAFA;
}
input[type=range]:focus::-ms-fill-lower {
	background: #D5D4D4;
}
input[type=range]:focus::-ms-fill-upper {
	background: #FAFAFA;
}
/* --------------------
    END input
-------------------- */