@import '_fonts';

:root {
	--white: #FAFAFA;
	--black: #0E0E11;
	--blue: #1D3C86;
	--lightgreen: #41A280;
	--red: #DC5750;
	--yelow: #F4DE82;
	--darkgreen: #30785D;
	--whitish: #F4EFE5;
	--grayish: #D5D4D4;
	--gray: #797B87;
}

*{
	font-family: PPMori, sans-serif;
}

html, body {
	font-size: 12px;
	line-height: 140%;
	background: var(--whitish);
	color: var(--black);
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media(min-width:768px) {
  .container {
    width: 760px;
  }
}
@media(min-width:992px) {
  .container {
    width: 990px;
  }
}
@media(min-width:1200px) {
  .container {
    width: 1180px;
  }
}
@media(min-width:1440px) {
  .container {
    width: 1367px;
  }
}

h1, h2, h3, p, a {
	margin: 0;
	&.small {
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
	}
}

h1 {
	font-weight: 600;
	font-size: 56px;
	line-height: 130%;
}

h2 {
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
}

h2 {
	font-weight: 400;
	font-size: 32px;
	line-height: 130%;
}

h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
}

h3 {
	&.regular {
		font-weight: 400;
		font-size: 20px;
		line-height: 130%;
	}
}

p, a {
	&.big {
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
	}
}

p, a {
	&.medium {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
	}
}

button {
	font-family: PPMori-SemiBold, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	width: 186px;
	padding: 16px 32px 13px;
	border: none;
	background: var(--white);
	border-radius: 8px;
}

a {
	text-decoration: none;
	color: var(--black);
}

img {
	max-width: 100%;
	height: auto;
}